@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato', sans-serif !important;
}
body{
    user-select: none;
    #root{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #0054cfFF;
}

// ******************************* components *******************************    



// ******************************* overrides *******************************




// ******************************* utils *******************************
.text-grad{
    background: linear-gradient(97.34deg, #72f596 -17.27%, #1ddafd 97.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.text-stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #0054cf;
    font-weight: 900;
    font-stretch: normal;
    text-align: center;
}