@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    font-family: 'Lato', sans-serif !important;
}
body{
    user-select: none;
    #root{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif !important;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #0054cfFF;
}

// ******************************* components *******************************

// ******************************* overrides *******************************




// ******************************* utils *******************************
.text-grad{
    background: linear-gradient(97.34deg, #72f596 -17.27%, #1ddafd 97.19%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}